/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --default-font: "Inter";
    --variable-font: "PressStart2P";
    --font-weight-light: 400;
    --font-weight-bold: 700;
    --background: repeating-linear-gradient(to right,#d3d3d3 0 2px, rgba(211, 211, 211, 0) 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, rgba(211, 211, 211, 0) 2px 4px),
    linear-gradient(#e7e7e7, #1a1a1a);
    --header-title-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --header-subtitle-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --header-padding: clamp(7.5rem, 6.9231rem + 2.4615vw, 8rem);
    --header-width: clamp(375px, calc(100vw - 51.3989vh), 700px);
    --text-stroke: #fff;
    --heart-contour-color: #000;
    --heart-fill-color: #ff0000;
    --page-width: clamp(375px, 100vw, 700px); 
}